body {
  background: rgb(107, 165, 243);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  color: white;
  text-align: center;
}

section {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
}

.text-section p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  color: white;
  text-align: center;
}

#select-tab {
  padding: 5px 10px 5px 10px;
  border: none;
  overflow: hidden;
  letter-spacing: 0.1em;
  margin-left: 55px;
}