body {
  background: #F2C744;
  font-family: sans-serif;
  align-items: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header {
  padding-bottom: 20px;
}

img {
  width: 5%;
  height: 5%;
  top: 50px;
}

:focus {
  outline: none;
}

section {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
  color: #F2C744;
}

#txtnumero{
  margin: 20px 10px 10px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 2rem;
  width: 200px;
  color: #F2C744;
  font-weight: bold;
  border: 2px solid #F2C744;
  text-align: center;
}

input:focus {
  border: 2px solid royalblue;
}

#resultado span {
  display: inline-block;
  margin: 5px;
  width: 30px;
  height: 30px;
  background: #F2C744;
  border-radius: 50%;
  font-weight: bold;
  line-height: 30px;
  color: #FFF;
}

#button-adc {
  display: block;
  width: 210px;
  padding: 10px 10px ;
  background-color: #F2C744;
  color: #FFF;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  cursor: pointer;
  transition-duration: .3s;
  margin: 0 auto;
}

#button-adc:hover {
  background-color: #F2B441;
}

button {
  display: inline-block;
  width: 210px;
  margin-top: 10px;
  padding: 10px 10px ;
  background-color: green;
  color: #FFF;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  cursor: pointer;
  transition-duration: .3s;
}

button:hover {
  background-color: #076b00;
}

footer {
  padding-bottom: 20px;
}

a:link, a:visited  {
  color: #FFF;
  font-weight: bold;
  transition-duration: .5s;
  text-decoration: none;
}

a:active, a:hover {
  color: green;
}

#erros {
  color: tomato;
}

#resultado { 
  color: green;
}

#p-footer {
  padding: 10px;
}